<footer role="contentinfo">
	<p>
		{{global.description}}
	<p>
	</p>
		By <a href="{{global.author.url}}">{{global.author.name}}</a> <a href="{{global.author.email}}">{{global.author.email}}</a>
	</p>
	<p>
		License <a href="{{global.license.url}}">{{global.license.name}}</a> {{current_year}}
	</p>
</footer>